.invalid-feedback {
    display: block;
    font-style: italic;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 8px;
    margin-top: 8px;
    margin-right: 50px;
    background-color: rgba(248, 215, 218, 0.7); /* Set the desired background color with opacity */
    color: #721c24;
}
